@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-background: #f7f7f7;

  --primary-Shadow: rgba(0, 0, 0, 0.25);
  --metrofamily: "Roboto", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}
img {
  width: 100%;
}
.mainLanding {
  background-image: url("https://images.unsplash.com/photo-1589717078552-b8b9b9f8f8f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
button,
img {
  cursor: pointer;
}

.mainpage {
  height: 100vh;
  overflow-y: scroll;
}
.menu {
  background-image: url("../../assets/Frame 1361.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* category */

.title {
  font-family: var(--metrofamily);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  /* Typography / Primary */

  color: #272727;
  mix-blend-mode: normal;
}
.titleLeft {
  font-family: var(--metrofamily);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  width: 100%;
  text-align: right;
}

.categort_item {
  display: flex;
  height: 100%;
  /* overflow-x: scroll; */
}

.category .img {
  margin: 0 auto;
  border: 1px solid lightgrey;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 5px;
  background: var(--primary-background);
  box-shadow: 0px 4px 4px var(--primary-Shadow);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  height: 70px;
  min-width: 70px;
}
.category .img:hover {
  background-color: rgb(0, 0, 0);
}
.category .img:hover span {
  color: rgb(255, 255, 255);
}

.category .img span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* identical to box height */

  /* 3 */

  color: #222831;
}
.add {
  cursor: pointer;
}
.add:hover {
  transform: scale(1.1);
}
.category .img img {
  width: 60%;
  height: 100%;
  object-fit: contain;
}
.Allcat {
  transform: scale(1.2);
}

/* category */

/* products */
.product .item {
  background-color: #fff;
  border-radius: 8px;
}
.product .item .details {
  padding: 0px 10px;
  flex-direction: column;
}
.details .top .size {
  display: flex;
}
.details .top .size p {
  padding: 0px;
  margin: 0px;
  text-align: center;

  font-family: var(--metrofamily);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #222831;
}
.details .top,
.details .price {
  display: flex;
  justify-content: space-between;
}

.details .top,
.details .price,
.details .top,
.details .price {
  padding: 15px 0px;
}
.details .price b {
  padding-left: 10px;
}
.details .price small {
  text-decoration: line-through;
}

/* products */
/* nadbar  */
.header {
  width: 100%;
  padding: 1% 0;
  background-color: rgb(255, 255, 255);
}

.search {
  display: flex;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  box-sizing: border-box;
  box-shadow: 6px 9px 5px -6px rgba(66, 66, 66, 0.75);
  -webkit-box-shadow: 6px 9px 5px -6px rgba(66, 66, 66, 0.75);
  -moz-box-shadow: 6px 9px 5px -6px rgba(66, 66, 66, 0.75);
}
.search input {
  width: 100%;
  border: none;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
}
.search input:focus {
  outline: none;
}
.header .img {
  width: 50%;
}

/* nadbar  */

/* cartHeader */
.Sidecart {
  position: relative;
  height: 100vh;
}
.Sidecart .lgSideCart {
  display: inline-block;
  width: 100%;
}

.cartHeader {
  width: 100%;
  text-align: -webkit-right;
}
.cartHeader p {
  width: 50%;
  background-color: #222831;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 00px;
  border-bottom-right-radius: 00px;
  border-bottom-left-radius: 20px;
}

/* cartHeader */
.cartItem {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px 5px;
  padding: 10px;
  border-radius: 10px;
}
.cartItem .details {
  width: 60%;
  flex-direction: column;
  padding: 0px 20px;
}
.cartItem .details .size {
  display: flex;
  transform: scale(0.6);
}
.cartItem .details .size p {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.cartItem .toogle {
  width: 15%;
}

.card {
  height: 81%;
  width: 100%;
  background-color: #ffebd2;
  padding: 10px;
  border-radius: 10px;
}
.card .img {
  /* height: 50px; */
  /* width: 50px; */
  /* background-image: url(../../assets/Rectangle\ 128.png); */

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.cardprice {
  font-family: var(--metrofamily);
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* Typography / Primary */
}

.extraAdons {
  padding: 10px;
  margin: 10px 10px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  transition: 1s ease-in-out;
}
.extraAdons div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
}
.priceDiv {
  padding: 10px;
}
.priceDiv hr {
  height: 2px;
  background-color: black;
}
.price b {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  /* identical to box height */

  /* 3 */

  color: #222831;
}

.checkoutButton {
  display: flex;
  justify-content: center;
  margin: 5;
  margin: 20% 0px;
}
.checkoutButton button {
  background: #222831;
  border-radius: 10px;
  color: #fff;
  border: navajowhite;
  border-radius: 2px;
  padding: 10px 30px;
  font-family: var(--metrofamily);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.cartFooter {
  /* position: absolute; */
}
/* cartHeader */

/* .smallNav */

.smallNavMenu {
  width: 20vh;
  position: absolute;
  top: 15%;
  left: 0;
  background-color: rgb(218, 213, 213);
  transition: 0.4s ease-in-out;
}
.smallNavMenu p,
.toggleIcon {
  /* background-color: rgb(255, 255, 255); */
  color: #333;
  text-align: center;
  /* width: 100%; */
  /* padding: 0.3em 0.1rem; */
  font-size: 35px;
  border-radius: 8px;
  /* box-shadow: 4px 0px 4px rgb(0 0 0 / 25%); */
  margin: 15px 0px;
  text-align: right;
}

/* .smallNav */

@media (min-width: 1441px) {
  .categort_item {
    display: flex;
    height: 100%;
    /* overflow-x: scroll; */
  }
  .smallNav {
    display: none;
  }

  .category .img {
    margin: 0 auto;
    border: 1px solid lightgrey;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 5px;
    background: var(--primary-background);
    box-shadow: 0px 4px 4px var(--primary-Shadow);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    /* height: 100%; */
    width: 10%;
  }
  .category .img img {
    width: 40%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .categort_item {
    overflow-x: scroll;
  }

  .category .img {
    height: 60px;
    width: 40px;
  }
  .cartItem {
    margin: 10px 0px;
  }
  .smallNav {
    display: none;
  }
  .cartItem .details b {
    font-size: 12px;
  }
  .cartGridPadding {
    padding-left: 3px;
  }
  .cartItem .details {
    width: 66%;
    padding: 0px 32px;
  }
  .title {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 899px) {
  .Sidecart .lgSideCart {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .categort_item {
    overflow-x: scroll;
  }

  .category .img {
    padding: 15px;
    height: 50px;
  }
  .category .img img {
    width: 50%;
  }

  .smallNav {
    display: inline-block;
  }
  .cartItem .details {
    width: 89%;
    flex-direction: column;
    padding: 0px 9px;
  }
  .cartItem .details b {
    font-size: 12px;
  }
  .cartGridPadding {
    padding-left: 3px;
  }
  .card {
    height: 52px;
    width: 100%;
    background-color: #ffebd2;
    padding: 10px;
    border-radius: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .categort_item {
    overflow-x: scroll;
  }

  .category .img {
    padding: 15px;
    height: 50px;
  }
  .category .img img {
    width: 50%;
  }
  .Sidecart .lgSideCart {
    display: none;
  }
  .smallNav {
    display: inline-block;
  }
}
@media (max-width: 575.98px) {
  .categort_item {
    overflow-x: scroll;
  }

  .category .img {
    padding: 10px;
    height: 50px;
  }
  .category .img img {
    width: 40%;
  }
  .Sidecart .lgSideCart {
    display: none;
  }
}
