.navbar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  text-align: center;
  width: 100%;
  /* padding: 0px 0px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.navbar .active {
  background-color: #333;
  color: #fff;
}

.navbar p {
  background-color: rgb(255, 255, 255);
  color: #333;
  text-align: center;
  width: 50%;
  padding: 0.3em 0.1rem;
  font-size: 35px;
  border-radius: 8px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  margin: 15px 0px;
}
.navbar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  /* margin: 80% 0; */
}
.upperBar {
  width: 100%;
  text-align: -webkit-center;
}
.Sidemenu {
  margin-top: 5vh;
}
.largeBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navbar .largeBar .logout {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 1441px) {
  .navbar p {
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar p {
    padding: 0.3em 10px;
  }
}

@media screen and (max-width: 1024px) {
  .largeBar {
    display: none;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
