.navbar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  text-align: center;
  width: 100%;
  /* padding: 0px 0px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.navbar .active {
  background-color: #333;
  color: #fff;
}

.navbar p {
  background-color: rgb(255, 255, 255);
  color: #333;
  text-align: center;
  width: 50%;
  padding: 0.3em 0.1rem;
  font-size: 35px;
  border-radius: 8px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  margin: 15px 0px;
}
.navbar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  /* margin: 80% 0; */
}
.upperBar {
  width: 100%;
  text-align: -webkit-center;
}
.Sidemenu {
  margin-top: 5vh;
}
.largeBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.navbar .largeBar .logout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mid-nav {
  position: absolute;
  background-color: rgb(7, 3, 44);
  z-index: 100;
  top: -50%;
  width: 10%;
}
.mid-nav p {
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgb(19, 255, 176), rgb(7, 234, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mid-nav p:hover {
  background-color: rgb(7, 134, 92);
  background: -webkit-linear-gradient(rgb(7, 134, 92), rgb(1, 125, 129));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

@media (min-width: 1441px) {
  .navbar p {
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .navbar p {
    padding: 0.3em 10px;
  }
}

@media screen and (max-width: 1024px) {
  .largeBar {
    display: none;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
}
