.navbar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  text-align: center;
  width: 100%;
  /* padding: 0px 0px 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
}

.navbar .active {
  background-color: #333;
  color: #fff;
}

.navbar p {
  background-color: rgb(255, 255, 255);
  color: #333;
  text-align: center;
  width: 50%;
  padding: 0.3em 0.1rem;
  font-size: 35px;
  border-radius: 8px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  margin: 15px 0px;
}
.navbar img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  /* margin: 80% 0; */
}
.upperBar {
  width: 100%;
  text-align: -webkit-center;
}
.Sidemenu {
  margin-top: 5vh;
}
